description = "Список видео на главной"
==
{% set videos = __SELF__.videos %}
<h3><a class="section-title" href="#">Видео обзоры</a></h3>
{% for video in videos %}
<article class="block">
    <header class="block__header block__header-video"><a href="{{ 'video/video-post'|page({ slug: video.slug }) }}">
        <div class="block-video">
            <div class="block-video__play"></div>
        </div><img class="block__image" alt="{{video.title }}" src="{{ video.image.getThumb(200,150,'crop') }}"></a>
        <h2 class="block__title"><a class="block__link" href="{{ 'video/video-post'|page({ slug: video.slug }) }}">{{video.title }}</a></h2>
    </header>
</article>
{% endfor %}