==
<div class="user_status_block">
{% if not user %}
    
					<div class="l-container clearfix">
						<div class="press--right">
							<span class="user-status">Здравствуйте, <span class="st-yellow">Гость</span>!</span>
							<a href="#" class="link-login">Вход</a>
							<a href="{{ 'register'|page }}" class="link-reg">Регистрация</a>
						</div>
					</div>
					<div class="form-login__centering l-container">
						<div class="form-login animated">
						<a href="#" class="form-login__close"></a>
							<form data-request="onSignin" action="" method="POST" id="form-login">
								<div class="form" novalidate="novalidate">
									<div class="form-row">
										<input type="text" placeholder="Логин" name="login" id="userSigninLogin" required>
									</div>
									<div class="form-row">
										<input name="password" type="password" placeholder="Пароль" id="userSigninPassword" required>
									</div>
								<!--	<div class="form-row">
										<label>
											<input type="checkbox"> Запомнить меня
										</label>
									</div> -->
									<div class="form-row">
										<button class="btn btn--large" type="submit">Войти</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				

{% else %}

					<div class="l-container clearfix">
						<div class="press--right">
							<span class="user-status">Здравствуйте, <span class="st-yellow">{{ user.name }}</span>!</span>
						<!--	<a href ="#" class="user-profile">Сообщения<span class="soobshenia" title="Личные сообщения">5</span></a>
							<a href ="{{ 'profile'|page }}" class="user-profile">Профиль</a>-->
							
							<a href ="#" data-request="onLogout" class="user-status">Выход</a>
							
						</div>
					</div>

{% endif %}
</div>