<div class="shareit">
    <div class="shareit__title">
        Поделиться:
    </div>
    <div class="post-soc">
        <a href="#">
            <span class="icon-vk-small"></span>
        </a>
        <a href="http://twitter.com/home?status={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="Share on Twitter" target="_blank">
            <span class="icon-twitter"></span>
        </a>
        <a href="#">
            <span class="icon-ok-small"></span>
        </a>
        <a href="https://plus.google.com/share?url={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="Share on Google+" target="_blank">
            <span class="icon-google"></span>
        </a>
        <a href="#">
            <span class="icon-mail"></span>
        </a>
    </div>
</div>