description = "Меню разделов"
==
<div class="widget widget__forum">
						<h3>Меню разделов</h3>
						<div class="widget__forum__list">
							<ul>
								<li>
									<a href="#">Снасти</a>
								</li>
								<li>
									<a href="#">Плавсредства. Виды и выбор</a>
								</li>
								<li>
									<a href="#">Одиночные путешествия</a>
								</li>
								<li>
									<a href="#">Вся рыбалка в России станет платной?!</a>
								</li>
								<li>
									<a href="#">Поздравляем!</a>
								</li>
								<li>
									<a href="#">Щука</a>
								</li>
								<li>
									<a href="#">р. Горин</a>
								</li>
								<li>
									<a href="#">Болталка</a>
								</li>
								<li>
									<a href="#">Плавсредства. Виды и выбор</a>
								</li>
								<li>
									<a href="#">Одиночные путешествия</a>
								</li>
							</ul>
						</div>						
					</div><!--.widget__forum-->