description = "Последние сообщения на форуме"
==
<div class="widget widget__forum">
						<h3>Последнее на форуме</h3>
						<div class="widget__forum__list">
							<ul>
								<li>
									<a href="#">Болталка</a>
								</li>
								<li>
									<a href="#">Плавсредства. Виды и выбор</a>
								</li>
								<li>
									<a href="#">Одиночные путешествия</a>
								</li>
								<li>
									<a href="#">Вся рыбалка в России станет платной?!</a>
								</li>
								<li>
									<a href="#">Поздравляем!</a>
								</li>
								<li>
									<a href="#">Щука</a>
								</li>
								<li>
									<a href="#">р. Горин</a>
								</li>
								<li>
									<a href="#">Болталка</a>
								</li>
								<li>
									<a href="#">Плавсредства. Виды и выбор</a>
								</li>
								<li>
									<a href="#">Одиночные путешествия</a>
								</li>
							</ul>
						</div>
						<div class="redirect-link">
							<a href="#">Перейти в раздел форум</a>
						</div>
					</div><!--.widget__forum-->