.postbookmark-icon {}

.postbookmark-icon-delete {
	color: #D31141 !important;
}

.postbookmark-icon-delete:hover {
	color: #0A8ED0 !important;
}

.scrool {
	max-height: 400px;
	overflow-y: scroll;
	font-size: 0.9em;
	line-height: 1.5em;
}

.bookmark_form
{
	padding: 0px 5px 0px 0px;
}
.bookmark_desc
{
	width: 84% !important;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	.scrool {
		max-height: 160px;
	}
}
