description = "Список статей"
==
{% set posts = __SELF__.posts %}
<div class="block-list">
    {% for post in posts %}
    <div class="block-list__item">
        <article class="block">
            <header class="block__header">
                {% for category in post.categories %}
                    {% if category.slug == 'nahlyst' %}
                    {% set category_color = 'block__lable-SeaGreen' %}
                    {% elseif category.slug == 'hand-made'%}
                    {% set category_color = 'block__lable-YellowGreen' %}
                    {% elseif category.slug == 'fider'%}
                    {% set category_color = 'block__lable-Olive' %}
                    {% elseif category.slug == 'karpfishing'%}
                    {% set category_color = 'block__lable-IndianRed' %}
                    {% elseif category.slug == 'rybackie-bajki'%}
                    {% set category_color = 'block__lable-FireBrick' %}
                    {% elseif category.slug == 'poplavochnaya-udochka'%}
                    {% set category_color = 'block__lable-HotPink' %}
                    {% elseif category.slug == 'vidy-ryb'%}
                    {% set category_color = 'block__lable-DarkOrange' %}
                    {% elseif category.slug == 'ekipirovka-rybolova'%}
                    {% set category_color = 'block__lable-Maroon' %}
                    {% endif %}
                <div class="block__lable {{category_color}}">{{ category.name }}</div><a href="{{ post.url }}">
                {% endfor %}
                <img class="block__image" src="{{ post.featured_images.first.getThumb(230,150, 'crop') }}"></a>
                <h2 class="block__title"><a class="block__link" href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="block__text">{{ html_strip(post.summary)|slice(0,200) }}...</div>
            </header>
            <div class="block-info">
                <div class="block-info__date">{{ post.published_at|rudate("%e %BP, %Y") }}</div>
                <div class="block-info__view"><i class="icon-eye"></i><span class="block-info__text">12588</span></div>
                <div class="block-info__comment"><a class="block-info__link" href="#"><i class="icon-comment"></i><span class="block-info__text">12588</span></a></div>
            </div>
            <footer class="block-footer">
                <div class="block-tag">
                    <ul class="block-tag__list">
                        {% for tag in post.tags %}
                            <li class="block-tag__item"><a class="block-tag__link" href="/articles/tags/{{tag.slug}}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="block__share">Поделиться статьей:</div>
                <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,whatsapp"></div>
            </footer>
        </article>
    </div>
    {% else %}
        <p>{{ noPostsMessage }}</p>
    {% endfor %}
</div>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">Назад</a>
    <li>...</li>
    {% endif %}
    {% for page in 1..posts.lastPage %}
    {% if posts.currentPage == page %}
    <li class="pagination-active">{{ page }}</li>
    {% else %}
    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
    {% if posts.lastPage > posts.currentPage %}
    <li>...</li>
    <a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Далее</a>
    {% endif %}
</ul>
{% endif %}